#app {
  min-height: 100%;
  overflow-x: hidden;
}

.app-container {
  background-color: #f2f6ff;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  padding-bottom: 20px;
}

.app-full-container {
  background-color: #f2f6ff;
  overflow-y: auto;
  overflow-x: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.grow {
  flex-grow: 1;
}
.shrink {
  flex-shrink: 1;
}

.shrink-zero {
  flex-shrink: 0;
}

.relative {
  position: relative;
}

.title-marker {
  background-color: #3e73ec;
  border-radius: 4px;
  width: 8px;
  height: 28px;
}

.label-title {
  font-size: 34px;
  font-weight: bold;
  color: #1e2226;
  margin-left: 20px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-left: 18px solid #97b7ff;
  border-bottom: 14px solid transparent;
  font-size: 0px;
  line-height: 40px;
  margin: 20px 0;
}

.arrow-label {
  font-size: 30px;
  font-weight: bold;
  color: #131313;
  line-height: 40px;
  padding-left: 24px;
  margin: 20px 0;
}
