<template>
  <div :class="`${prefixCls}-{{ name }}`">{{ upperFirstName }}</div>
</template>

<script setup lang="ts">
import { useDesign } from '@/hooks/web/useDesign'

const { getPrefixCls } = useDesign()
const prefixCls = getPrefixCls('{{ name }}')
</script>
